@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-right: 1px solid black;
}

.description > p {
  width: 85%;
}

.container {
  display: flex;
  gap: 50px;
  justify-content:end;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
 */
